# Database
DB_URL=jdbc:postgresql://localhost:5432/nitcconnect
DB_USERNAME=your_username
DB_PASSWORD=your_password

# Google OAuth
OAUTH_CLIENT_ID=<get client id and secret from google cloud>
OAUTH_CLIENT_SECRET=<get client id and secret from google cloud>

# JWT
JWT_SECRET=<your 32-char secret>

# Mail (used for 2FA)
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_app_password